%h3 Upcoming Events
%table{:class => "table table-condensed table-hover"}
  %thead
    %th Name
    %th Date
    %th Time
  %tbody
    - @events.each do |event|
      %tr{:class => ("info" if current_user.events.include?(event))}
        %td= link_to event.name[0..15], event_detail_path(event)
        %td= event.date
        %td= event.time
