-# in app/views/events/event_detail
%h2 Details about #{@events.name}

%ul#details
  %li
    Date:
    = @events.date

%h3 Description

%p#descrption= @events.full_description

=link_to 'Back to home page', root_path