<h1>Hello <%= @user.first_name %></h1>
<p>
  Welcome to the BHNC Portal! Now you have the ability to view our events, sign
  up to become a volunteer, as well as place space rental requests. We look forward
  to your involvement in the community!
</p>
<br>
<p>
  Thank you,
</p>
<p>BHNC</p>
