-# This file is app/views/user/show.html.haml
%h1 Welcome to the BHNC Website

= render 'shared/upcoming_events'

=link_to "Volunteer Sign Up", user_new_volunteer_path


=link_to "Sign out", destroy_user_session_path, :method => :delete

=link_to "Request a space rental", new_space_rental_request_path
