-# This file is app/views/user/show.html.haml
%h1 Welcome to the BHNC Website


.col-md-5
  = render 'shared/upcoming_events'

.col-md-7
  = render 'shared/calendar'

%br

= render 'shared/space_rentals_calendar'
